@model List<LAB5GED.DOMAIN.Entidades.SubserieIndiceValor>
<script src="~/Scripts/libscripts.js"></script>
<h2>Editar Indexação</h2>
@using (Html.BeginForm("EditarIndexacao", "SubserieIndiceValor"))
{
<fieldset>
    <legend>Indexadores Registrados</legend>
@foreach(LAB5GED.DOMAIN.Entidades.SubserieIndiceValor siv in Model)
{
    
    @Html.Label(siv.FK_SubserieIndice.NomeIndice)<br />
    <input type="text" id="valor" name="valor" value="@siv.Valor" /><br />
    <input type="hidden" id="regIndex" name="regIndex" value="@siv.FK_SubserieIndice.Registro" />
    <input type="hidden" id="regValor" name="regValor" value="@siv.Registro" />
    <input type="hidden" id="Registro" name="Registro" value="@siv.Documento" /> 
}
    <br />
   
</fieldset>
    <input type="submit" value="Salvar" class="btn btn-primary" />
    <input type="submit" value="Voltar" class="btn btn-primary" onclick="Voltar()" />

}

