@model LAB5GED.DOMAIN.Entidades.Documento


@{
    List<LAB5GED.DOMAIN.Entidades.SubserieIndice> _indexadores = new List<LAB5GED.DOMAIN.Entidades.SubserieIndice>();
    LAB5GED.DOMAIN.Entidades.DocumentoManipulacao _captura = new LAB5GED.DOMAIN.Entidades.DocumentoManipulacao();
    LAB5GED.DOMAIN.Entidades.DocumentoManipulacao _revisao = new LAB5GED.DOMAIN.Entidades.DocumentoManipulacao();
    LAB5GED.DOMAIN.Entidades.DocumentoManipulacao _indexacao = new LAB5GED.DOMAIN.Entidades.DocumentoManipulacao();
  
    try{
            _captura = new LAB5GED.DOMAIN.DAO.Business.DocumentoManipulacaoBO().ManipulacaoCapturaDeUmDocumento(Model.Registro);
            _indexadores = new LAB5GED.DOMAIN.DAO.Business.SubserieIndiceBO().GetIndexadoresDeUmaSubserie(Model.Subserie);
            _revisao =  new LAB5GED.DOMAIN.DAO.Business.DocumentoManipulacaoBO().ManipulacaoRevisaoDeUmDocumento(Model.Registro);
            _indexacao = new LAB5GED.DOMAIN.DAO.Business.DocumentoManipulacaoBO().ManipulacaoIndexacaoDeUmDocumento(Model.Registro);
            
    }catch(Exception ex)
    {
        LAB5GED.MVC.Acessorio.MetodosUtilidadeGeral.MensagemDeErro(ex.Message, Response);
        return;
    }
    
 }

<h3>Informações do Documento</h3>
    
<table class="table table-striped table-hover" style="width:50%">
    <tr>
        <td><label><b>Id do Documento</b></label></td>
        <td>@Model.Registro</td>
    </tr>
    
    <tr>
        <td style="font-weight: bold">@Html.LabelFor(doc => doc.Subserie, new { @style= "font-weight: bold" })</b></td>
        <td>@Model.FK_Subserie.Id_subserie - @Model.FK_Subserie.Rotulo_subserie </td>
    </tr>
   
    <tr>
        <td>@Html.LabelFor(doc => doc.DataCriacao, new { @style = "font-weight: bold" })</td>
        <td>@Model.DataCriacao</td>
    </tr>

     <tr>
        <td><label><b>Responsável pela Captura</b></label></td>
        <td>@if (_captura == null) { <label>captura não registrada</label>}
            else {@_captura.FK_Usuario.NomeUsuario }</td>
    </tr>
    
    <tr>
        <td><label><b>Responsável pela Revisão</b></label></td>
        <td>@if (_revisao == null) { <label>revisão não registrada</label>}
            else {@_revisao.FK_Usuario.NomeUsuario }</td>
    </tr>

       <tr>
        <td><label><b>Responsável pela Indexação</b></label></td>
        <td>@if (_indexacao == null) { <label>indexação não registrada</label>}
            else {@_indexacao.FK_Usuario.NomeUsuario }</td>
    </tr>

    <tr>
        <td>@Html.ActionLink("Visualizar Documento", "Visualizar", "Documento", new { _registro = Model.Registro }, new { @target = "_blank" })</td>
        <td></td>
    </tr>
</table>
